
#
# lolMiner 1.0 configuration
# uncomment a line (remove the starting "#") to set an option in this file
# The available options are the same as in the command line
# See readme.txt to get a list of available options  
#

################################################################################
# Required Options
################################################################################

algo=ETHASH
pool=daggerhashimoto.usa.nicehash.com:3353
user=3GQZ6BGdjBtXkdgT1iY34xQb1F9jEyg82a.TUYUL

################################################################################
# Comfort functions
################################################################################

# apiport=<the port to open api>
# shortstats=<interval between the short statiscics>
# longstats=<interval between the verbose statiscics>

